/*
azul escuro: rgb(2, 27, 38)
azul claro: rgb(195, 227, 245)

azul-botao: rgb(23, 176, 228)
azul-link: rgb(9, 70, 92)

*/
body {
    background-color: rgb(2, 27, 38);
}
main 
{
    background-color: #fff;
}
blockquote{
    background-color: rgb(195, 227, 245);
}
nav ul{
    justify-content: space-between;
    display:flex;
    list-style:none;
}
nav li{
    border: 1px solid #fff;
    padding: 20px;  
}
nav a{
    color:#fff;
}

#imagem{
    background-image: url();
}